{% extends 'base.html' %}

{% block page_title %}Add new feeder{% endblock %}

{% block content %}

<script type="text/javascript" src="{{ STATIC_URL }}select2-3.4.6/select2.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}select2-3.4.6/select2-bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}select2-3.4.6/select2.css">
<script type="text/javascript">
    $(document).ready(function() {
        $(".select-type").select2({
            allowClear: true
        });
        
    })
</script>

<form role="form" method="post" class="form-horizontal col-md-8" >
    {% csrf_token %}
    {% if transaction_form.errors %}
        <div class="row alert alert-danger">
            <strong>Errors detected:</strong> Please correct them before you can continue.
        </div>
    {% endif %}
    <h3 class="text-dark-green" >{{ title }}</h3>
    
    {% if request.user.is_MT and transaction_form.feeder %}
    <h4>Feeder: {{ transaction_form.feeder }} - Type: {{ transaction_form.feeder_type }}</h4>
    {% endif %}
    <p>Fill out the feeder information below:</p>
    {% for field in transaction_form.visible_fields %}
    {% if field.errors %}
    <div class="form-group has-error">
    {% else %}
    <div class="form-group">
    {% endif %}
        <div class="row">
            <label class="control-label col-md-2">{{ field.label_tag }}</label>
            <div class="col-md-8">
                {{ field }}
            </div>
        </div>
        <div class="row col-md-offset-2 text-danger">
        {{ field.errors }}
    </div>
    </div>
    
    {% endfor %}
    
    <div class="form-group">
        <div class="col-md-offset-2">
            <div class="col-md-4">
                <input type="submit" value="Save" class="btn btn-primary btn-block">
            </div>
            <div class="col-md-4">
                <a href="{% url 'feeder-list' %}" class="btn btn-default btn-block">Cancel</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
